#list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}

.done-text{
  text-decoration: line-through;
}

.w600{
  width: 800px;
}
.cusor{
  cursor: pointer;
}
.mr-2{
  margin-right: 10px;
}